
.container {
    position: relative;
}

.container .bg-img{
    width: 950px;
    position: relative;
    left: 12%;
}

.container a{
    position: absolute;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    right: 6%;
    top: 89%;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 8;
    padding: 10px 18px;
}

img.cover1 {
    position: absolute;
    width: 148px;
    top: 65%;
    left: 43%;
    z-index: 5;
    border: 4px solid white;
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin-right: 58px;
    margin-top: 5%;
}

.fa-camera:before {
    content: "\f030";
    padding-right: 2px;
}

i.fas.fa-camera.\31 {
    position: absolute;
    right: 39%;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #e4e6eb;
    font-size: 25px;
    padding: 7px 6px;
    z-index: 5;
    top: 93%;
}